*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
   }
   #header{
    height: 150px;
    background-color: green;
    margin: 20px;
        
   }
   #navigation{
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}
   #main_content{
    height: 400px;
    width: 650px;
    background-color: red;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
   }
   .subcontents{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin: 5px;
   }
   #advertisement{
    height: 120px;
    width: 620px;
    background-color: purple;
    margin: 10px;
    
   }